var progressRotate = function (percentage, color){
    var p = (percentage * 100);
    var deg = p * 3.6;
    if(p > 100 || p < 0) {
        p = 100;
    }
    var left = 0,
        right = 0;
    if(deg <= 180){
        right = "transform:rotate("+(deg-180)+"deg);"
        left = "background: none;"
    }else{
        right = "transform:none;"
        left = "background:"+color+"; transform:rotate("+(deg-360)+"deg);"
    }
    return {
        left: left,
        right: right
    }
}

module.exports = {
    progressRotate: progressRotate
}