var filterText = function (val){
    if (!val || val == 0) {
        return '没人创作,去抢沙发吧'
    }
    if (val >= 99) {
        val = '99+'
    }
    return [{
        name: 'span',
        attrs: {
            class: '',
            style: 'font-size: 14px;'
        },
        children: [{
            type: 'text',
            text: val+'件作品,去看看'
        }]
    }]
}


module.exports = {
    filterText: filterText
}